#navbarStackpane{
    -fx-background-color: #323232;
}

.button{
    -fx-background-color: #323232;
    -fx-min-height: 40px;
    -fx-max-height: 40px;


}

.button:hover{
    -fx-background-color: #2b2121;
}