.text-field {
    -fx-border-style: none;
    -fx-background-color: #464546;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
    -fx-text-fill: whitesmoke;
}

.text-field:hover {
    -fx-background-color: #403434;
}

#addressTxt{
}

.text-area{
    -fx-text-fill: whitesmoke;
    -fx-control-inner-background: #464546;
}

.text-area:hover{
    -fx-control-inner-background: #403434;
}

.choice-box,.combo-box{
    -fx-border-style: none;
    -fx-background-color: #464546;
    -fx-text-fill: whitesmoke;
    -fx-prompt-text-fill: white;

}

.combo-box:hover,.choice-box:hover{
    -fx-background-color: #403434;
}

.list-view{
    -fx-background-color: inherit;
    -fx-border-color: #464546;

}

.list-cell:odd{
    -fx-background-color: #212a2b;
    -fx-text-fill: whitesmoke;
}

.list-cell:even{
    -fx-background-color: #2b2121;
    -fx-text-fill: whitesmoke;
}

.root{
    -fx-background-color: #3d3d3d;

}

#cancel:hover{
    -fx-text-fill: aqua;
}

.split-pane{
    -fx-background-color: #3b3b3b;
}

.label{
    -fx-text-fill: whitesmoke;
}

.button{
    -fx-border-style: none;
    -fx-background-color: #464546;
    -fx-text-fill: whitesmoke;
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 0, 0);
}

.button:hover{
    -fx-background-color: #403434;
    -fx-text-fill: aqua;
}

.button:pressed {
    -fx-border-style: solid;
    -fx-border-color: #013223;
    -fx-effect: none;
    -fx-text-fill: #124242;
    -fx-border-radius: 3px;
}

.date-picker .label{
    -fx-text-fill: black;
}